<% include('../layouts/header.ejs') %>


<link rel="stylesheet" href="stylesheet/register.css">
<div class="wrapper">
  <h2>Login page</h2>
  <form action="/login" method="post">
    <div class="input-box">
      <input type="email" name="email" placeholder="Enter Email">
    </div>
    <div class="input-box">
      <input type="password" name="password" placeholder="Enter Password" maxlength="8">
    </div>
    <div class="input-box button">
      <input type="Submit" value="Submit">
    </div>
    <% 
      if(typeof message !== 'undefined'){
      %>
      <p style="color: red;text-align: center;"><%= message %></p>
      <%
      }
      %>
    <div class="text">
      <h3>Already have an account? <a href="/register">Sign up</a></h3>
    </div>
  </form>
</div>


<% include('../layouts/footer.ejs') %>